/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}
body{
	background: url(./images/bg.png);
	color: #fff;
}
nav{
	height: 3%;
	width: 100%;
	background: linear-gradient(#000,#333,#000);
	border-bottom: 1px solid #111;
}
nav ul{
	margin-left: 5%;
}
nav li{
	display: inline-block;
	margin-right: 5%;
	font-size: 1.1em;
	transition: all 0.3s ease;
}
nav li:hover{
	color: #666;
}
.inner{

}
.currentForm{
	font-size: 1.3em;
	margin-left: 5%;
	margin-top: 3%;
}
.currentForm label:after{
	content: ":";
	padding-right: 1%;
}
.addResource{
	padding: 0;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	text-align: center;
	border: none;
	background: #000;
	margin-top: 1em;
}
moar, less{
	font-size: 1.4em;
	position: relative;
	bottom: .15em;
	color: #fff;
	transition: all 0.2s ease-in;
}
moar:hover{
	color: rgba(120,120,200,0.8);
}
less:hover{
	color: rgba(120,120,200,0.8);
}
less{
	bottom: 0.25em;
}
.removeResource{
	padding: 0;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	text-align: center;
	border: none;
	background: #000;
	position: relative;
	top: 0.6em;
	margin-left: 1em;
}
.resourceEntryDiv input{
	width: 2em;
}
.productName{
	display: block;
}
.resourceEntryDiv{
	display: block;
	margin-top: 2%;
}
.submitBtn{
	background: #000;
	color: #fff;
	border-radius: 50px;
	border: 0;
	visibility: hidden;
}